<div class="bs-component" ng-controller="FriendController as ctrl">


  <form class="form-inline">
    <div class="form-group" id="add-button">
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addFriend">Add Friend</button>
      <div ng-show="ctrl.dataLoading">
        <span ng-include="'./views/partials/dataloading.html'"></span>
      </div>
      <!-- <label>Search:</label>
      <input type="text" ng-model="searchText" class="form-control" placeholder="Search"> -->
    </div>
  </form>

  <div>
    <table id="table-all" class="table table-bordered table-striped table-hover " cellspacing="0" width="100%">
      <thead>
        <tr>
          <th ng-click="sort('name')">Name
            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('fulladdress')">Address
            <span class="glyphicon sort-icon" ng-show="sortKey=='fulladdress'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('phone')">Send Message
            <span class="glyphicon sort-icon" ng-show="sortKey=='phone'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>

        </tr>
      </thead>
      <tbody id="display-allfriends">

        <tr ng-repeat="friend in friends | orderBy:sortKey:reverse ">
          <td><a href="" ng-click="ctrl.setFriend(friend)" data-toggle="modal" data-target="#EditFriend"> {{friend.name}}</a></td>

          <td><a id="country_container" href="" ng-click="ctrl.showAddress($event, friend.marker)">{{friend.fulladdress}}</a></td>

          <td>
            <div class="dropdown">
              <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Choose one
              <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">

                  <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="ctrl.setFriend(friend)" data-toggle="modal" data-target="#sendEmail">Send Email</a></li>

                  <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="ctrl.setFriend(friend)" data-toggle="modal" data-target="#sendText">Sent Text</a></li>

                </ul>
            </div>
        </td>

        </tr>

      </tbody>
    </table>
  </div>
</div>

<!-- Edit friend -->
<!-- Modal Add Friend-->
<div id="EditFriend" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <span ng-include="'./views/editfriend.html'"></span>
  </div>
</div>

<div id="sendEmail" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <span ng-include="'./views/emailForm.html'"></span>
  </div>
</div>

<div id="sendText" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <span ng-include="'./views/textForm.html'"></span>
  </div>
</div>
