<div class="header-container">
  <!-- <div class="video-header"> -->
  <div class="video-container">
    <video preload='true' autoplay="autoplay" loop="loop" onloadstart="this.volume=0" volume="0" autoplay poster="img/friends.jpg">
      <source src="img/afriend.mp4" type="video/mp4">

        <source src="img/afriend.webm" type="video/webm">
        <source src="img/afriend.ogv" type="video/ogg">
          <source src="img/afriend.mov" type="video/mov">


    </video>
    <!-- end video -->

  </div>
  <!-- end video-container -->
  <!-- <h3 class="animated zoomIn"> Friendship </h3> -->
  <div class="explore-fr animated zoomIn">
    <h1 id="header-page">
      Explore
      <span>Friendship</span>
    </h1>
  </div>


  <blockquote id="friend-quote1" class="animated bounce">Best friends stick together till the end, They are like a straight line that will not bend. <br> - Emily Thurston
  </blockquote>

</div>
<!-- end header-container -->

<!-- Modal Add Friend-->
<div id="registerForm" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <span ng-include="'./views/register.html'"></span>
  </div>
</div>
