<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid" ng-controller="LoginController as vm">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand animated flip" href=""><img ng-src="img/friends-group-big.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>

        <li>
          <li ng-hide="currentUser"><a href="#!/register">REGISTER</a></li>
          <li ng-hide="!error_msg" style="background-color: yellow;">
            <a href=""> {{error_msg}}</a>
          </li>
          <li ng-hide="currentUser">
            <form id="signin" class="navbar-form navbar-right" role="form" ng-submit="vm.login()">

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="username" type="text" class="form-control" name="username" value="" placeholder="User Name" ng-model="vm.formLogin.username" required>
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" ng-model="vm.formLogin.password" required>
              </div>

              <button type="submit" class="btn btn-primary navbar-btn">Login</button>

            </form>

          </li>

        </li>
        <li ng-hide="!currentUser">
          <a href="" ng-click="vm.dashboard()"> DASHBOARD</a>
        </li>

        <li ng-hide="!currentUser">
          <a href="" ng-click="vm.logout()">LOGOUT</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
</div>
</div>
</nav>
