<nav class="navbar navbar-default navbar-fixed-top app-menu">
  <div class="container-fluid" ng-controller="LoginController as vm">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand animated flip"  href=""><img ng-src="img/friends-group-big.png" alt="" id="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>

        <li>
          <li ng-hide="currentUser">

            <a href="" data-toggle="modal" data-target="#registerForm">REGISTER</a></li>
          <li ng-hide="!login_error_msg" style=" background: red">
            <a href=""> {{login_error_msg}}</a>
          </li>
          <li ng-hide="currentUser">
            <form id="signin" class="navbar-form navbar-right" role="form" ng-submit="vm.login()">

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="username" type="text" class="form-control" name="username" value="" placeholder="User Name" ng-model="vm.formLogin.username" required>
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" ng-model="vm.formLogin.password" required>
              </div>

              <button type="submit" class="btn btn-primary navbar-btn">Login</button>

            </form>

          </li>

        </li>



        <li ng-hide="!currentUser">
          <a href="" ng-click="vm.dashboard()"> DASHBOARD</a>
        </li>

        <li ng-hide="!currentUser" class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">USER</a>
        <ul id="products-menu" class="dropdown-menu clearfix" role="menu">
            <li><a href="" data-toggle="modal" data-target="#editUser">Edit User Profile</a></li>
            <li><a href="" data-toggle="modal" data-target="#deleteUser" >Delete</a></li>

        </ul>
      </li>

        <li ng-hide="!currentUser">
          <a href="" ng-click="vm.logout()">LOGOUT</a>
        </li>




      </ul>
    </div>
  </div>
</nav>
</div>
</div>
</nav>


<div id="editUser" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <span ng-include="'./views/editUser.html'"></span>
  </div>
</div>

<div id="deleteUser" class="modal fade" role="dialog" >
  <div class="modal-dialog modal-lg">
    <span ng-include="'./views/deleteUser.html'"></span>
  </div>
</div>


<script type="text/javascript">
  $(function(){
    function is_touch_device() {
        return 'ontouchstart' in window        // works on most browsers
        || navigator.maxTouchPoints;       // works on IE10/11 and Surface
    };

    if(!is_touch_device() && $('.navbar-toggle:hidden')){
      $('.dropdown-menu', this).css('margin-top',0);
      $('.dropdown').hover(function(){
          $('.dropdown-toggle', this).trigger('click');
          <!-- //uncomment below to make the parent item clickable -->
          $('.dropdown-toggle', this).toggleClass("disabled");
      });
    }
});
</script>
